<div class="card" id="employees" style="border-radius: 15px">
    
    <div class="card-title-container">
    <h2 class='card-title'>{{name}}</h2>
    <h3 class='card-text'><i class="fas fa-mug-hot"></i> {{title}}</h3>
    </div>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="id">ID: {{id}}</li>
            <li class="list-group-item" id="email">Email: {{email}}</li>
            <li class="list-group-item" id="office-number">Office Number: {{officeNumber}}</li>
        </ul>
    </div>
    
</div>


    